:root {
    --black: #000;
    --background: #0C1821;
    --dark-kontrast: #1B2A41;
    --light-kontrast: #324A5F;
    --light-text: #fff;
}

body {
    background-color: var(--background);
    color: var(--light-text);
}

.black {
    color: var(--black);
}

/* Price List */
.textsize {
    font-size: 2rem;
}

.textsizesm {
    font-size: 1.5rem;
}

/* Services */
.card-body {
    background-color: var(--background);
}

